#overlayHolder {
  width:100%;
  height:100%;
}

.overlay {
  pointer-events:auto;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 900;
}
.overlay .close {
  position:absolute;
  top:10px;
  font-size:1.5em;
  left:calc(100% - 2em);
  cursor: pointer;
}