/* PROGRESS BARS */

.fill {
	width: 0;
	position:absolute;
	color: #4b2e4c;
	opacity: 0.7;
    overflow: hidden;
	display: inline-block;
	font-family: "Sniglet", "RockoFLFBold", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 36px;
}

.fill.harvesting {
	color: #ed7e00;
}

.fill.watering {
	color: #5f8ddd;
}

.fill.petting {
	color: #f98686;
}

.fill.nibbling {
	color: #c42323;
}

.fill.mining {
	color: #5e5e5e;
}

.fill.digging {
	color: #823917;
}

.border {
    position:absolute;
    color: #d3d3d3;
    opacity: 0.9;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: "Sniglet", "RockoFLFBold", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 36px;
}

.border::after {
    width: 1em;
    height: 1em;
    -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,1));
    position: absolute;
    opacity: 1;
}

/* MINING ANIMATION */

@-webkit-keyframes miningAnimation {
    from    {   background-position-x: 3729px;  }
    to      {   background-position-x: 0;       }
}
@-moz-keyframes miningAnimation {
    from    {   background-position-x: 3729px;  }
    to      {   background-position-x: 0;       }
}
@-o-keyframes miningAnimation {
    from    {   background-position-x: 3729px;  }
    to      {   background-position-x: 0;       }
}
@keyframes miningAnimation {
    from    {   background-position-x: 3729px;  }
    to      {   background-position-x: 0;       }
}

/* DIGGING ANIMATION */

@-webkit-keyframes diggingAnimation {
    from    {   background-position-x: 3445px;  }
    to      {   background-position-x: 0;       }
}
@-moz-keyframes diggingAnimation {
    from    {   background-position-x: 3445px;  }
    to      {   background-position-x: 0;       }
}
@-o-keyframes diggingAnimation {
    from    {   background-position-x: 3445px;  }
    to      {   background-position-x: 0;       }
}
@keyframes diggingAnimation {
    from    {   background-position-x: 3445px;  }
    to      {   background-position-x: 0;       }
}

/* WATERING ANIMATION */

@-webkit-keyframes wateringAnimation {
    from    {   background-position-x: 2730px;  }
    to      {   background-position-x: 0;       }
}
@-moz-keyframes wateringAnimation {
    from    {   background-position-x: 2730px;  }
    to      {   background-position-x: 0;       }
}
@-o-keyframes wateringAnimation {
    from    {   background-position-x: 2730px;  }
    to      {   background-position-x: 0;       }
}
@keyframes wateringAnimation {
    from    {   background-position-x: 2730px;  }
    to      {   background-position-x: 0;       }
}

/* ASSIGN ANIMATIONS */

.border.mining::after {
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
    display: inline-block;
    width: 113px;
    height: 63px;
    background-image: url(../system/actions/using_pick.png);
    -webkit-animation: miningAnimation 1.5s steps(33, end) infinite;
    -moz-animation: miningAnimation 1.5s steps(33, end) infinite;
    -o-animation: miningAnimation 1.5s steps(33, end) infinite;
    animation: miningAnimation 1.5s steps(33, end) infinite;
}

.border.harvesting::after {

}

.border.watering::after {
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: -90px;
    display: inline-block;
    width: 91px;
    height: 78px;
    background-image: url(../system/actions/using_watering.png);
    -webkit-animation: wateringAnimation 1.5s steps(30, end) infinite;
    -moz-animation: wateringAnimation 1.5s steps(30, end) infinite;
    -o-animation: wateringAnimation 1.5s steps(30, end) infinite;
    animation: wateringAnimation 1.5s steps(30, end) infinite;
}

.border.petting::after {

}

.border.nibbling::after {

}
.border.digging::after {
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: -90px;
    display: inline-block;
    width: 65px;
    height: 82px;
    background-image: url(../system/actions/using_shovel.png);
    -webkit-animation: diggingAnimation 1.5s steps(53, end) infinite;
    -moz-animation: diggingAnimation 1.5s steps(53, end) infinite;
    -o-animation: diggingAnimation 1.5s steps(53, end) infinite;
    animation: diggingAnimation 1.5s steps(53, end) infinite;
}

.item {
  -webkit-transition: all 1s;
  transition: all 1s;
  background-repeat: no-repeat;
  position: absolute;
}

.bounce {
  -webkit-animation: bounce 800ms 1;
  animation:         bounce 800ms 1;
}

@-webkit-keyframes bounce {
  0% {
  -webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    -webkit-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    -webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -webkit-transform:translateY(-50%);
  }
  40% {
    -webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -webkit-transform:translateY(-30%);
  }
  70% {
    -webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform:translateY(-15%);
  }
  90% {
    -webkit-transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform:translateY(-10%);
  }
  97% {
    -webkit-transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform:translateY(-5%);
  }
  100% {
    -webkit-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */

@keyframes bounce {
  0% {
  -webkit-transform:translateY(-100%);
          transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    -webkit-transform:translateY(-100%);
            transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    -webkit-transform:translateY(0);
            transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
  }
  40% {
    -webkit-transform:translateY(0%);
            transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -webkit-transform:translateY(-30%);
            transform:translateY(-30%);
  }
  70% {
    -webkit-transform:translateY(0%);
            transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform:translateY(-15%);
            transform:translateY(-15%);
  }
  90% {
    -webkit-transform:translateY(0%);
            transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform:translateY(-7%);
            transform:translateY(-7%);
  }
  97% {
    -webkit-transform:translateY(0%);
            transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform:translateY(-3%);
            transform:translateY(-3%);
  }
  100% {
    -webkit-transform:translateY(0);
            transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* INTERACT WITH... SELECTOR */

.interactionWindow {
  z-index: 2;
  padding: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 6px;
  background-color: #eee;
  -o-box-shadow: 0 0 0 8px rgba(0,0,0,0.1), 0 0 0 2px rgba(0,0,0,0.3);
  -khtml-box-shadow: 0 0 0 8px rgba(0,0,0,0.1), 0 0 0 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 0 8px rgba(0,0,0,0.1), 0 0 0 2px rgba(0,0,0,0.3);
}

.entityContainer {
  border: 1px solid #eee;
  color: black;
}

.entitySelected {
  border: 1px solid orange;
  color: orange;
}

/* RIGHT CLICK MENU */

#RightClickMenu {
   overflow:visible;
   background-color: #eee;
   width:120px;
   position:absolute;
   padding: 6px;
   font-size:14px;
   z-index: 5;
   top:  -100%;
   left: -100%;
   border-radius: 8px;
   border-bottom:2px solid rgba(0,0,0,0.3);
}

.InfoButton {
   font-size:20px;
   position:absolute;
   top:  5px;
   right: 5px;
   border-radius: 50%;
   background-color: #eee;
   color: #4b2e4c;
}

.InfoButton:hover {
  cursor: pointer; color: #d79035;
}

.RCActionList {
   line-height:150%;
   list-style-type: none;
}

.RCItem {
  font-family: 'Lato', sans-serif;
  font-size:14px;
  color: #333;
  width: 95%;
  border-radius: 3px;
  border: 1px solid #eee;
}

.RCItemSelected {
  cursor: pointer;  color: #d79035;
  border: 1px solid #d79035;
}

.RCItemDisabled {
  color: grey;
  cursor: default;
  border: none;
}

/* HOW MANY... SELECTOR */

#HowManyMenu {
    overflow: visible;
    background-color: #eee;
    width: 110px;
    position: absolute;
    padding: 6px;
    font-size: 14px;
    z-index: 5;
    /*top: -100%;*/
    /*left: -100%;*/
    top: 100px;
    left: 200px;
    /**/
    border-radius: 8px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

#hm-title {
    display: block;
}

#hm-controls {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hm-btn {
    font-size: 12px;
    font-family: 'Fredoka One', cursive;
    position: relative;
    border-radius: 7px;
    padding: 4px 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 -2px 5px 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s;
    outline: none;
}

.hm-btn:hover {
    box-shadow: inset 0 -2px 5px 3px rgba(255, 0, 200, 0.1);
}

.hm-btn:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

#hm-minus,
#hm-plus {
    width: 40px;
    padding: 0 5px;
    color: #4b2e4c;
    background-color: white;
}

#hm-num {
    margin-left: 2px;
    margin-right: 2px;
}

#hm-enter {
    width: 100%;
    height: 25px;
    color: white;
    background-color: #57AA4B;
}