#inventory {
  position:absolute;
  bottom:15px;
  left:18px;
  padding:1px;
  height:60px;
  width:calc(100% - 280px);
  max-width:calc(100% - 40px);
  min-width:calc(300px - 40px);
  white-space: nowrap;
  text-align:center;
}

#inventorySearch {
  background-color:#eee;
  width:40px;
  height:40px;
  border-radius:8px;
  position:absolute;
  bottom:75px;
  left:10px;
  cursor:pointer;
  z-index:0;
}
#inventorySearch * {
  height:30px;
  color:#bbb;
  position:absolute;
  top:calc(40% - 0.9em);
  right:calc(40% - 0.5em);
  cursor:pointer;
}

#inventorySearch:hover, #inventorySearch *:hover {
  color:#999;
}

.inventoryItem {
  cursor: pointer;
}
.itemCount {
  position: absolute;
  bottom: 0px;
  right: 3px;
}

#broken {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1024;
  text-align: center;
  font-size: 80px;
  padding-top: 50px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}