ur-meters {
  position:absolute;
  top:0;
  left:0;  
}

#thinkButton {
  position:absolute;
  width:31px;
  top: 10px;
  left:90px;
  z-index:2;
  cursor: pointer;
  display: none; /* until we have the menu set up */
}