nav {
    position: absolute;
    font-size: 1em;
    top: 15px;
    right: 0;
    display: flex;
    flex-direction: row;
    width: 100px;
}

nav a {
    flex: 1;
    text-align: center;
    padding-bottom: 5px;
    cursor: pointer;
}

nav a:hover {
    border-bottom: 2px solid #4b2e4c;
}

nav .fa {
    font-size: 20px;
    cursor: pointer;
}