nav {
    position: relative;
    font-size: 1em;
    left: 50%;
    transform: translateX(-50%);
    top: 2px;
    display: flex;
    flex-direction: row;
}

nav a {
    flex: 1;
    text-align: center;
    padding-bottom: 5px;
    cursor: default;
}

nav a:hover {
    border-bottom: 2px solid #4b2e4c;
}

nav .fa {
    font-size: 24px;
    cursor: pointer;
}