nav {
  position: relative;
  display: inline-block;
  top: -3px;
  right:5px;
  transform: translateY(-50%);
  font-size: 1.2em;
}

nav * {
  cursor: pointer;
}

nav .fa {
  height: 17px;
}

#volumeGlyph {
  width: 17px;
}