#newday {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    background: rgb(219,211,162);
    background: -moz-radial-gradient(bottom, ellipse cover, rgb(219,211,162) 0%, rgb(166,168,181) 100%);
    background: -webkit-gradient(radial, center bottom, 0px, center center, 100%, color-stop(0%,rgb(219,211,162)), color-stop(100%,rgb(166,168,181)));
    background: -webkit-radial-gradient(bottom, ellipse cover, rgb(219,211,162) 0%,rgb(166,168,181) 100%);
    background: -o-radial-gradient(bottom, ellipse cover, rgb(219,211,162) 0%,rgb(166,168,181) 100%);
    background: -ms-radial-gradient(bottom, ellipse cover, rgb(219,211,162) 0%,rgb(166,168,181) 100%);
    background: radial-gradient(ellipse at bottom, rgb(219,211,162) 0%,rgb(166,168,181) 100%);
}

@-webkit-keyframes rotatesun {
    from {
        -webkit-transform: translateX(-50%) translateY(50%) rotate(0deg);
    }
    to {
        -webkit-transform: translateX(-50%) translateY(50%) rotate(360deg);
    }
}
@-moz-keyframes rotatesun {
    from {
        -moz-transform: translateX(-50%) translateY(50%) rotate(0deg);
    }
    to {
        -moz-transform: translateX(-50%) translateY(50%) rotate(360deg);
    }
}
@-o-keyframes rotatesun {
    from {
        -o-transform: translateX(-50%) translateY(50%) rotate(0deg);
    }
    to {
        -o-transform: translateX(-50%) translateY(50%) rotate(360deg);
    }
}
@keyframes rotatesun {
    from {
        transform: translateX(-50%) translateY(50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) translateY(50%) rotate(360deg);
    }
}

#newday-sun {
    width: 1024px;
    height: 1024px;
    position: absolute;
    left: 50%;
    bottom: -1024px;
    background-image: url(../system/newdaysun.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: rotatesun 20s linear 0s infinite;
    -moz-animation: rotatesun 20s linear 0s infinite;
    -o-animation: rotatesun 20s linear 0s infinite;
    animation: rotatesun 20s linear 0s infinite;
    z-index: -100;
    transition: bottom 2s;
}

#newday-sun.up {
    bottom: 0;
}

#newday-mountain {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../system/newdaymountain.svg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#newday-date {
    font-size: 40px;
    font-family: "Lato", sans-serif;
    margin-bottom: 0;
    margin-top: 60px;
}

#newday-title {
    font-size: 100px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

#newday-refill {
    font-size: 15px;
}

#newday-refill-label {
    padding-right: 10px;
    position: relative;
    top: 12px;
}

#newday-yesterday {
    margin-top: 30px;
}

.teal {
    color: teal;
}

#newday-button {
    margin-top: 20px;
}

@-webkit-keyframes refillenergy {
    0%, 10% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30%, 53%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: rotate(165deg);
        transform: rotate(165deg);
    }

    90% {
        -webkit-transform: rotate(176deg);
        transform: rotate(176deg);
    }
}

@-moz-keyframes refillenergy {
    0%, 10% {
        -moz-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30%, 53%, 80%, 100% {
        -moz-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    40%, 43% {
        -moz-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -moz-transform: rotate(150deg);
        transform: rotate(150deg);
    }

    70% {
        -moz-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -moz-transform: rotate(165deg);
        transform: rotate(165deg);
    }

    90% {
        -moz-transform: rotate(176deg);
        transform: rotate(176deg);
    }
}

@-o-keyframes refillenergy {
    0%, 10% {
        -o-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30%, 53%, 80%, 100% {
        -o-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    40%, 43% {
        -o-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -o-transform: rotate(150deg);
        transform: rotate(150deg);
    }

    70% {
        -o-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -o-transform: rotate(165deg);
        transform: rotate(165deg);
    }

    90% {
        -o-transform: rotate(176deg);
        transform: rotate(176deg);
    }
}

@keyframes refillenergy {
    0%, 10% {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: rotate(0deg);
    }
    30%, 53%, 80%, 100% {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: rotate(180deg);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: rotate(150deg);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: rotate(165deg);
    }

    90% {
        transform: rotate(176deg);
    }
}

#newday-refill-container {
    height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
}

#newday-refill-container img {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 50;
    -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
    -moz-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
    -o-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

#newday-refill-disc.full {
    -webkit-animation: refillenergy 3s linear 0s 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: refillenergy 3s linear 0s 1;
    -moz-animation-fill-mode: forwards;
    -o-animation: refillenergy 3s linear 0s 1;
    -o-animation-fill-mode: forwards;
    animation: refillenergy 3s linear 0s 1;
    animation-fill-mode: forwards;
}

#newday-refill-image {
    position: relative;
    left: -39px;
}

#newday-refill-text {
    font-family: "Lato", sans-serif;
    text-align: center;
    color: white;
    z-index: 100;
    position: relative;
    display: inline-block;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}


#newday-refill-1 {
    color: white;
}

#newday-refill-2 {
    color: #62934c;
    font-size: 12px;
    position: relative;
    top: -4px;
}