#overlayHolder {
  width:100%;
  height:100%;
}

.overlay {
  pointer-events:auto;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 900;
}
.overlay .close {
  position:absolute;
  top:10px;
  font-size:1.5em;
  left:calc(100% - 2em);
  cursor: pointer;
}

/* iMG Menu */

#pauseMenu {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

#pauseMenu .close {
    cursor: pointer;
    position: absolute;
    left: 28%;
    top: 15px;
    font-size: 20px;
    color: white;
}

#pauseMenu .close .fa {
    cursor: pointer;
}

#pm-nothing {
    padding-top: 100px;
    font-size: 50px;
    text-align: center;
}

#pm-nothing p {
    color: inherit;
    font-size: inherit;
    text-shadow: 0 0 10px #666;
}

p.italic {
    font-style: italic;
}

#pm-nothing img {
    width: 225px;
    height: 225px;
    margin-top: 20px;
}