#toastHolder {
  position:absolute;
  top:55px;
  right:280px; 
  width:170px;
}

.toast {
  opacity:0;
  background:#000;
  text-align:center;
  color:#fff;
  border-radius:10px;
  font-size:12px;
  padding:3px;
  margin:2px;
  width: 170px;
  transition:all 500ms;
}

.toast:hover {
  opacity: 1 !important;
}

#toastDivider {
  border: 1px solid rgba(255,255,255,0.3);
  position: relative;
  left: 5px;
}