#weatherLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#cloudLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.cloudy {
    background: black;
    opacity: .3;
}

.snowy {
    background: white;
    box-shadow: inset 0 0 50px 20px rgba(255,255,255,0.6);
    background: linear-gradient(to bottom,
        rgba(255,255,255,0.1)   0%,
        rgba(255,255,255,0.5)   90%,
        rgba(255,255,255,0.8)   95%,
        rgba(255,255,255,1)     100%
    );
    opacity: 0.9;
}

.drop {
    /*gradients are slow to render*/
    /*background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );*/
    /*background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);*/
    /*background: white;*/
    background-image: url('../system/raindrop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .4;
    width: 10px;
    height: 20px;
    position: absolute;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;
}

.flake {
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    -webkit-animation: fall 2s linear infinite;
    -moz-animation: fall 2s linear infinite;
}

/* animate the drops*/
@-webkit-keyframes fall {
    to {transform: translateY(900px);}
}
@-moz-keyframes fall {
    to {transform: translateY(900px);}
}

paper-radio-button::shadow #ink[checked] {
    color: #4b2e4c;
}
paper-radio-button::shadow #onRadio {
    background-color: #4b2e4c;
}
paper-radio-button[checked]::shadow #offRadio {
    border-color: #4b2e4c;
}
paper-radio-button::shadow #ink {
    color: rgba(75, 46, 76, 0.38);
}
paper-radio-button::shadow #offRadio {
    border-color: rgba(75, 46, 76, 0.38);
}