#weatherLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#cloudLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.cloudy {
    background: black;
    opacity: .3;
}

.snowy {
    background: white;
    /* For future editing: http://www.colorzilla.com/gradient-editor/#ffffff+0,ffffff+90,ffffff+100&0.3+0,0.9+90,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.9) 90%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(90%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.9) 90%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.9) 90%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.9) 90%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.9) 90%,rgba(255,255,255,1) 100%);
}

.drop {
    /*gradients are slow to render*/
    /*background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );*/
    /*background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);*/
    /*background: white;*/
    background-image: url('../system/raindrop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .4;
    width: 10px;
    height: 20px;
    position: absolute;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;
}

.flake {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    -webkit-animation: fall 2s linear infinite;
    -moz-animation: fall 2s linear infinite;
}

/* animate the drops*/
@-webkit-keyframes fall {
    to {transform: translateY(900px);}
}
@-moz-keyframes fall {
    to {transform: translateY(900px);}
}

paper-radio-button::shadow #ink[checked] {
    color: #4b2e4c;
}
paper-radio-button::shadow #onRadio {
    background-color: #4b2e4c;
}
paper-radio-button[checked]::shadow #offRadio {
    border-color: #4b2e4c;
}
paper-radio-button::shadow #ink {
    color: rgba(75, 46, 76, 0.38);
}
paper-radio-button::shadow #offRadio {
    border-color: rgba(75, 46, 76, 0.38);
}