#bagWindow article .storage {
  text-align: center;
}

#bagWindowIcon {
  position: relative;
  top: -8px;
}

/* this is the actual search box*/
#invsearch {
  width: 430px;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid rgba(0,0,0,0.3);
  z-index: 1;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

#invsearch:focus {
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}

.box {
  background-color: #fff;
  border-radius: 8px;
  width:40px;
  height:40px;
  margin:4px 0px;
  border: 1px solid #bbb;
  border-bottom:2px solid #bbb;
  z-index:1;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
  display: inline-block;
  padding:5px;
}

.box .icon {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin:auto;
  /* Maintain aspect ratio */
  max-height: 90%;
  max-width: 90%;
}

.box {
  position: relative;
}