.itemWindow ur-well * {
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.iw-left {
    float: left;
    width: 200px;
}

.iw-image-container {
    width: 200px;
    height: 200px;
    background-image: url(../../system/windows/itembg.svg);
    background-size: 200px 200px;
}

.iw-image {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.iw-newitem {
    text-align: center;
}

.iw-info {
    margin-left: 210px;
    height: 100%;
}

.iw-desc {
    max-height: 230px;
}

.iw-meta {
    position: absolute;
    bottom: 10px;
    color: #666;
}

.iw-icon-currants {
    height: 22px;
    width: 22px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.iw-icon-css {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: 4px;
    border-radius: 5px;
}

.iw-icon-slot {
    border: 2px dotted #aaa;
}

.iw-icon-wear {
    border: 2px solid #aaa;
    z-index: 10;
}

.iw-icon-wear::before,
.iw-icon-wear::after {
    content: '';
    display: inline-block;
    height: 5px;
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 11;
}

.iw-icon-wear::before {
    background-color: #BBDADF;
    width: 14px;
}

.iw-icon-wear::after {
    background-color: #277D8D;
    width: 9px;
}

.gap {
    height: 5px;
}

.iw-left span.img {
    background-color: rgb(239, 179, 255);
    color: rgb(71, 1, 71);
    padding: 0 4px 2px 4px;
    display: inline-block;
    margin: 0 1px;
    border-radius: 10px;
}