#mapDisplay {
    position: relative;
    text-align: right;
    top: -10px;
    display: inline-block;
    margin-right: 15px;
}

#mapDisplay .label {
  top:0.3em;
  font-size:0.8em;
  opacity:0.8;
}

#mapImage {
    background-size: 572px 327px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#mapTitle {
    cursor: inherit;
    position: relative;
    left: -75px;
}

#mapTitle:active {
    cursor: inherit;
}

.maplayer {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* Map Renderer, Div Edition */

.hm-street {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    height: 8px;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #222;
    line-height: 8px;
    font-weight: bold;
    font-size: 14px;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    cursor: pointer;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.hm-street.hm-street-current {
    color: #c42323;
    font-weight: bold;
}

.maplayer.scaled {
    transform: scaleX(0.752631578947368) scaleY(0.710869565217391);
    transform-origin: -21px -21px 0px;
}

.hm-go {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: "Fredoka One", "Lato", sans-serif;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
    background-color: #aaa;
}

#HubMapLayerFG {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* Full World Map */

#map-window-world {
    position: relative;
    top: -5px;
}

#map-window-world /deep/ button {
    height: 30px;
    width: 30px;
}

#map-window-world /deep/ .fa {
    padding: 0 !important;
    cursor: pointer;
}

.wml-hub {
    width: 50px;
    height: 25px;
    display: block;
    background-image: url(../../system/windows/hubmarker.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    position: absolute;
    padding: 6px 3px 3px 3px;
    text-align: center;
    color: rgba(0,0,0,0);
    text-shadow: none;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    line-height: 10px;
    z-index: 10;
}

.wml-hub:hover,
.wml-hub.currentlocationhub {
    color: white;
    text-shadow: 0 0 10px #000;
    z-index: 11;
}

/* Minimap */

#minimap-container {
    z-index: 1;
    width: calc(100% + 4px);
    margin-bottom: 40px;
}

#minimap {
    border: 2px solid #eee;
    border-radius: 8px;
    font-family: "Lato", sans-serif;
    background-color: #eee;
}

#minimap-img {
    width: 170px;
    height: auto;
    border-radius: 5px 5px 0 0;
}

#minimap-objects {
    position: absolute;
    top: 2px;
    left: 2px;
}

#minimap-label {
    text-align: center;
    color: #444;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.minimap-player {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
}

.minimap-player.minimap-me {
    background-color: rgb(255, 255, 113);
}

.minimap-exit {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../../system/icons/signpost.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

#minimap-toggle {
    width: 40px;
    height: 20px;
    background-color: #eee;
    border-radius: 0 0 5px 5px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#minimap-toggle .fa {
    cursor: pointer;
    position: relative;
    top: -2px;
}