/* Magic Rock */

@-webkit-keyframes magic-rock-idle {
    from  {   background-position-x: 0;       }
    to    {   background-position-x: 15633px; }
}
@-moz-keyframes magic-rock-idle {
    from  {   background-position-x: 0;       }
    to    {   background-position-x: 15633px; }
}
@-o-keyframes magic-rock-idle {
    from  {   background-position-x: 0;       }
    to    {   background-position-x: 15633px; }
}
@keyframes magic-rock-idle {
    from  {   background-position-x: 0;       }
    to    {   background-position-x: 15633px; }
}

#petrock {
    width: 81px;
    height: 102px;
    background-image: url(../../system/windows/rock_idle.png);
    -webkit-animation: magic-rock-idle 8s steps(193, end) infinite;
    -moz-animation: magic-rock-idle 8s steps(193, end) infinite;
    -o-animation: magic-rock-idle 8s steps(193, end) infinite;
    animation: magic-rock-idle 8s steps(193, end) infinite;
    display: block;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    z-index: 4;
    cursor: pointer;
}

@media (max-width: 1024px) {
    #petrock {
        left: 30%;
    }
}

#petrock:hover {
    -webkit-filter: drop-shadow(0 1px 2px cyan);
    -moz-filter: drop-shadow(0 1px 2px cyan);
    -o-filter: drop-shadow(0 1px 2px cyan);
    filter: drop-shadow(0 1px 2px cyan);
}

#petrock:active {
    -webkit-filter: drop-shadow(0 1px 1px cyan);
    -moz-filter: drop-shadow(0 1px 1px cyan);
    -o-filter: drop-shadow(0 1px 1px cyan);
    filter: drop-shadow(0 1px 1px cyan);
}

/* Window */

#rockWindow {
    background-color: rgba(15, 39, 39, 0.8) !important;
    border: 8px solid rgba(15, 39, 39, 0.4) !important;
    box-shadow: none !important;
    top: 240px !important;
    left: 40% !important;
    width: 350px !important;
    height: 250px !important;
    -webkit-transition: width 1s, height 1s;
}

#rockWindow *:not(a) {
    color: white;
}

#rockWindow a:not(.rwc-button):not(.go-rwc) {
    color: rgb(65, 139, 104);
    cursor: pointer;
}

#rockWindow a:hover:not(.rwc-button):not(.go-rwc) {
    color: rgb(130, 171, 152);
    text-decoration: underline;
}

#rockWindow .close {
    display: none !important;
}

.rockWindowContent {
    height: 250px;
    overflow-y: scroll;
    padding-right: 12px;
}

.rockWindowContent .fa {
    color: inherit !important;
}

#rwc {
    overflow-y: hidden;
    padding-right: 0;
}

a.go-rwc {
    color: rgb(136, 136, 0) !important;
    cursor: pointer;
}

a.go-rwc:hover {
    color: rgb(189, 189, 0) !important;
}

.rockWindowContent .fa {
    padding: 0 !important;
}

.rockWindowContent p {
    margin: 10px 0;
}

.rockWindowContent::-webkit-scrollbar {
    width:6px;
}

.rockWindowContent::-webkit-scrollbar-track {
    background: rgba(15, 39, 39, 0.8);
    border:none;
}

.rockWindowContent::-webkit-scrollbar-thumb {
    background-color: rgb(65, 139, 104);
    border-radius:3px;
}

.rockWindowContent::-webkit-scrollbar-thumb:hover {
    background-color: rgb(130, 171, 152);
}

.rockWindowContent.convo .go-rwc {
    display: none;
}

a.rwc-button {
    cursor: pointer;
    background-color: rgba(65, 139, 104, 0.3);
    border: 4px solid rgb(65, 139, 104);
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    font-family: "Lato", sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
}

a.rwc-button:hover {
    background-color: rgb(65, 139, 104);
    border: 4px solid rgb(65, 139, 104);
}

a.rwc-button:active {
    background-color: rgb(130, 171, 152);
    border: 4px solid rgb(130, 171, 152);
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.flex-row > * {
    flex: 1;
}

.center {
    text-align: center;
}

.rwc-exit {
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}