
#mapDisplay {
    position: relative;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

#mapButton {
  margin:8px;
  width:1.5em;
  right: 0;
  padding:5px;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
  display: inline-block;
}
#mapDisplay .label {
  top:0.3em;
  font-size:0.8em;
  opacity:0.8;
}

#currLocation {
}