
#mapDisplay {
    position: relative;
    text-align: right;
    top: -10px;
    display: inline-block;
}

#mapButton {
  position:relative;
  margin:8px;
  right: 0;
  top:-5px;
  padding:5px;
  transform: translateY(-30%);
  text-align:center;
  display: inline-block;
}
#mapDisplay .label {
  top:0.3em;
  font-size:0.8em;
  opacity:0.8;
}