/*Import FontAwesome */
@import url("font-awesome.min.css");
@font-face{font-family:'RockoFLFBold';src:url('./font/rockoflf-bold-webfont.eot');src:url('./font/rockoflf-bold-webfont.eot?#iefix') format('embedded-opentype'),url('./font/rockoflf-bold-webfont.woff') format('woff'),url('./font/rockoflf-bold-webfont.ttf') format('truetype'),url('./font/rockoflf-bold-webfont.svg#RockoFLFBold') format('svg');font-weight:normal;font-style:normal}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*The default styles, basic buttons*/
* {
   font-family: 'RockoFLFBold', sans-serif;
   cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;
  
}
html, body {
  overflow:hidden;
  background-color: #e9f0f0;
  margin: 0;
  padding: 0px;
  position:absolute;
  width:100%;
  height:100%;
  z-index:-99;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;} 
a{color: purple;text-decoration: none;}
.blu, #SCLink {color: #4d8c8b;}
.red {color: #ba381a;}
.white{color: #fff;}
.big {font-size:20px;}
.small {font-size:15px;}
.soft {
   list-style-type: none;
   color: gray;
   font-family: 'RockoFLFBold', sans-serif;
   font-size:12px;
   font-weight: 200;
}
.btn {
    font-family: 'RockoFLFBold', sans-serif;
   display: -moz-inline-box;
   -moz-box-orient: vertical;
   line-height: 21px;
   vertical-align: middle;
   height: 21px;
   padding: 7px 20px;
   background-color: #d7e0e0;
   background-image: linear-gradient(bottom,#fff 100%,#d7e0e0 0);
   background-image: -o-linear-gradient(bottom,#fff 100%,#d7e0e0 0);
   background-image: -moz-linear-gradient(#fff,#d7e0e0);
   background-image: -webkit-linear-gradient(bottom,#fff 100%,#d7e0e0 0);
   background-image: -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#d7e0e0, endColorstr=#FFFFFF)";
   background-image: -ms-linear-gradient(#fff,#d7e0e0);
   background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1,#fff),color-stop(0,#d7e0e0));
   border: 1px solid #aac7ce;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   color: #005c73;
   font-size: 15px;
   font-weight: bold;
   text-align: center;
   text-shadow: 0 1px white;
   white-space: nowrap;
   line-height: 1.5;
   transition-property: color,border;
   -moz-transition-property: color,border;
   -o-transition-property: color,border;
   -webkit-transition-property: color,border;
   transition-duration: .15s;
   -moz-transition-duration: .15s;
   -o-transition-duration: .15s;
   -webkit-transition-duration: .15s;
   transition-transition-timing: ease-in,linear;
   -moz-transition-transition-timing: ease-in,linear;
   -o-transition-transition-timing: ease-in,linear;
   -webkit-transition-transition-timing: ease-in,linear;
}
.btn.green{
  background-color: #ebf3e1;
   background-image: linear-gradient(bottom,#fff 100%,#ebf3e1 0);
   background-image: -o-linear-gradient(bottom,#fff 100%,#ebf3e1 0);
   background-image: -moz-linear-gradient(#fff,#ebf3e1);
   background-image: -webkit-linear-gradient(bottom,#fff 100%,#ebf3e1 0);
   background-image: -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#d7e0e0, endColorstr=#FFFFFF)";
   background-image: -ms-linear-gradient(#fff,#ebf3e1);
   background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1,#fff),color-stop(0,#ebf3e1));
   border: 1px solid #b6da78;
   color: #618324;
}
.btn:hover {
   cursor: pointer;
   color: #d79035;
   border-color: #f1cd9c;
   background-image: linear-gradient(bottom,#fff 100%,#f9f5e4 0);
   background-image: -o-linear-gradient(bottom,#fff 100%,#f9f5e4 0);
   background-image: -moz-linear-gradient(#fff,#f9f5e4);
   background-image: -webkit-linear-gradient(bottom,#fff 100%,#f9f5e4 0);
   background-image: -ms-linear-gradient(bottom,#fff 100%,#f9f5e4 0);
   background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1,#fff),color-stop(0,#f9f5e4));
}
.btn.large {
  height: 50px;
  font-size: 30px;
   font-weight: bold;
   text-align: center;
   text-shadow: 0 1px white;
   line-height: 1.5;
}
textarea{resize: none;}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*The default styling of the initial Loading Screen*/
#LoadingScreen {
    text-align: center;
    overflow:hidden;
    top:0px;  
    left:0px;
    background-color: #fff;
    color: #005c73;
    position:absolute;
    width:100%;
    height:100%;
    z-index:99;
    opacity:1.0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0.5s;  
    -moz-transition-property:opacity;
    -moz-transition-duration:0.2s;
    -moz-transition-timing-function:linear;
    -moz-transition-delay:0.5s;  
}
.LoadingH1 {
  margin-left:auto;
  margin-right:auto;
  width:2em;
  letter-spacing:-10px;
  font-size:190px;}
.LoadingH2 {
  margin-left:auto;
  margin-right:auto;
  width:7em;
  letter-spacing:0px;   font-size:40px;    font-family: 'RockoFLFBold', sans-serif;}
#LoadingBackImg{
    position:absolute;
    opacity: 0;
    bottom: 0px;
    transition-property: opacity;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 1s;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:3s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:1s; 
}
#LoadStatus {
				
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*The default styling of the 'You Won' Screen*/
#YouWon {
    font-family: 'RockoFLFBold', sans-serif;
    font-size:1.5em;
    text-align: center;
    overflow:hidden;
    top:0px;  
    left:0px;
    background-color: #000;
    color: #000;
    position:absolute;
    width:100%;
    height:100%;
    z-index:90;
    opacity:0.5;
    text-shadow: 0 0 0.2em #fff,
                 0 0 0.2em #fff,
                 0 0 0.2em #fff,
                 0 0 0.2em #fff,
                 0 0 0.2em #fff;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*The default styling of splash screens*/
.splash {
   position:absolute;
   width:900px;
   height:600px;
   top:60px;  
   left:40px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   z-index:-1; 
   opacity:0.0;
    
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0.5s;
}.splash:active {opacity:0.9;}

#SizeWarning {
	text-align: center;
	color: red;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Loading a street*/
.MapLoadingScreen {
   background-color: #829363;
   position:absolute;
   top:0px;  
   left:0px;
   right:0px;
   bottom:0px;
   opacity:1.0;
   z-index:2;
    
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:1s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0.5s;
}
.MapLoadingScreenIn {
   background-color: #829363;
   position:absolute;
   top:0px;  
   left:0px;
   right:0px;
   bottom:0px;
   opacity:1.0;
   z-index:2;
}
.LoadingGroove{
  background-color: #e6ecee;
   position:absolute;
   left:5%;
   right:5%;
   bottom:10%;
   overflow: hidden;
   font-size:13px;
   color:rgba(0,0,0,0.7);
   border: 2px solid #fff;
   -moz-border-radius: 5px;
   border-radius: 5px;
   
}
.LoadingBar{
   background-color: #c5dc81;
   position:absolute;
   left:-2px;
   top:-2px;
   bottom:-2px;
   width:0%;
   border: 1px solid #fff;
   -moz-border-radius: 5px;
   border-radius: 5px;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -webkit-transition-property:width;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0.5s;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*The display div that depicts gameplay*/
#GameScreen {
    max-height:900px;
    background-color:#fff;
    position:absolute;
    width:calc(100% - 290px - 40px - 18px - 20px);
    height:calc(100% - 180px);
    top:60px;  
    left:40px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	z-index:0; 
    overflow: hidden;
     /* this fixes the overflow:hidden in Chrome not clipping it's contents to the border-radius
     more information here: http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera*/
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#Exits {
	position: absolute;
	top: 10px;
	right: 10px;
	background: rgba(255, 255, 255, 0.53);
	padding: 5px;
	z-index: 3;
}

.ExitsExpanded {
	
}

.ExitsCollapsed {
	height: 1em;
	overflow: hidden;
	cursor: pointer;
}

.ExitLabel {
	display: block;
	cursor: pointer;
}

.streetcanvas {
				/*
    transition-property: top right;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition-property: top right;
    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function:ease-in-out;
    -webkit-transition-delay:0s;    */
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Elements in the top, left corner*/
#PlayerPortraitDiv {
    position:absolute;
    top: 23px;
    left:24px;
    overflow:hidden;
    width: 83px;
    height: 83px;
    margin: auto;
    -moz-border-radius: 50%;
    border-radius: 50%;
   background: #eee;
   color: #717171;
   /* this fixes the overflow:hidden in Chrome not clipping it's contents to the border-radius
   more information here: http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera*/
   -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
   

}
.MoodCircle {
    position:absolute;
    top: -2px;
    left:-2px;
    overflow:hidden;
    width: 87px;
    height: 87px;
    
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0.5s;
    
}
#MoodText {
    position:absolute;
    top: 26px;
    width: 83px;
    margin: 0px auto;
    text-align: center;
    line-height:15px;
    color:#555;
    text-shadow: 0px 1px rgba(255,255,255,0.5);
    opacity:0; 
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.0s;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0.0s;
}
#MoodText:hover, #MoodText.changed {
    opacity:0.9;
}
#MoodPercent {
    font-size:35px;
    text-shadow: 0px 1px rgba(0,0,0,0.5);
}

#PlayerName {
    position:absolute;
    top:3px;
    left:25px;
    font-size:12px;
    color: #005c73;
}

#ImaginationText {
    position:absolute;
    top:22px;
    left:150px;
    color: rgba(0,0,0,0.6);
}
#SmallI{
  position:relative;
  top:-5px;
}

#TopLeftCorner {
    position:absolute;
    width:170px;
    height:170px;
    top:-7px;
    left:-8px;
    margin: auto;
    border: 0;
}
#EnergyIndicator, #EnergyIndicatorRed{
    position:absolute;
    top:3px;
    left:3.5px;
    border: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration:1s;
    -webkit-transition-timing-function:ease-in-out;
    -webkit-transition-delay:0s;  
}
#EnergyIndicatorRed{opacity:0;}
#EnergyText {
    position:absolute;
    top:60px;
    left:140px;
    opacity:0.4;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    text-shadow: 0px 1px rgba(0,0,0,0.5);
    -webkit-transition-property: opacity;
    -webkit-transition-duration:0.1s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0s;  
    
}
#EnergyText:hover {
    opacity:1;
}
#EnergyText.changed {
    animation:enbob 0.5s;
    -webkit-animation:enbob 0.5s; /* Safari and Chrome */
    opacity:1;
}
@keyframes enbob
{
50%  {top:63px;}
75%  {top:57px;}
}
@-webkit-keyframes enbob /* Safari and Chrome */
{
50%  {top:63px;}
75%  {top:57px;}
}
#EnergyEmblem {
    position:absolute;
    top:108px;
    left:35px;
    margin: auto;
    border: 0
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Elements in the bottom left corner*/
#CurrantBack {
    position:absolute;
    bottom: 140px;
    left:14px;
    overflow:hidden;
    width: 38px;
    height: 37px;
    margin: auto;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #eee;
    color: #e9f0f0;
}
#CurrantEmblem {
    position:absolute;
    bottom:144px;
    left:20px;
}
#CurrantText {
    position:absolute;
    bottom:139px;
    left:55px;
    opacity:0.4;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    text-shadow: 0px 1px rgba(0,0,0,0.5);
    -webkit-transition-property: opacity;
    -webkit-transition-duration:0.1s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0s;  
}
#CurrantText:hover {
    opacity:1;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Elements that appear in the top right*/
#ChatSettingsIcon {
	position: absolute;
	right: 25px;
	top: 65px;
	z-index: 3;
}
#ChatSettingsMenu {
	position: absolute;
	top: 87px;
	right: 22px;
	background-color: #fff;
	border: 1px solid;
	z-index: 3;
}
.ChatSettingsCheckbox {
	cursor: pointer;
	vertical-align: middle;
}
.ChatSettingsOption {
	cursor: pointer;
	padding-right: 3px;
	display: block;
}
.ChatSettingsOption:hover {
	background-color: #E9F0F0
}
#ChatDisconnected {
	text-align: center;
	color: #005c73;
	background-color: #fff;
	position:absolute;
	width:290px;
	height: calc(100% - 120px);
	top:60px;  
	right:18px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding:5px;
	-webkit-box-shadow: -1px 1px 3px 0px #4d8c8b;
	-moz-box-shadow: -1px 1px 3px 0px #4d8c8b;
	-o-box-shadow: -1px 1px 3px 0px #4d8c8b;
	-khtml-box-shadow: -1px 1px 3px 0px #4d8c8b;
	box-shadow: -1px 1px 3px 0px #4d8c8b;
	z-index: 3;
}
#ChatPane {
  color: #005c73;
  background-color: #fff;
  position:absolute;
  width:290px;
  height: calc(100% - 130px);
  top:60px;  
  right:18px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding:5px;
  -webkit-box-shadow: -1px 1px 3px 0px #4d8c8b;
  -moz-box-shadow: -1px 1px 3px 0px #4d8c8b;
  -o-box-shadow: -1px 1px 3px 0px #4d8c8b;
  -khtml-box-shadow: -1px 1px 3px 0px #4d8c8b;
  box-shadow: -1px 1px 3px 0px #4d8c8b;
}
.ChatWindow {
	height: 50%;
}
.ChatHistory {
	font-size: small;
	border-top: 1px solid;
	border-color: #a7a7a7;
	height: calc(100% - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 5px;
	background-color: white;
	padding: 1px;
}
.RowSpacer {
	height: .5em;
}
/* Here lies hacky bits to style the scrollbar in webkit based browsers
   this WILL NOT WORK in Firefox or IE.  Only a loss of style will result however.*/
::-webkit-scrollbar {
	width: 16px;
	background-color: #CDDCDD;
	border-radius: 5px;
}
::-webkit-scrollbar-track {
      background-color: #ECF0F1;
      border-radius: 5px;
	  border: 1px solid;
	  border-color: #D6DADB;
}
::-webkit-scrollbar-thumb {
      background-color: #CDDCDD;
      border: 2px solid;
      border-color: #C3CCCE;
      border-radius: 5px;
}
::-webkit-scrollbar-button:start {
    display: none;
}
::-webkit-scrollbar-button:end {
    display: block;
}
::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('../assets/system/up.svg');
}
::-webkit-scrollbar-button:vertical:decrement:active {
    background-image: url('../assets/system/up_active.svg');
}
::-webkit-scrollbar-button:vertical:increment {
    background-image: url('../assets/system/down.svg');
    border-radius: 5px;
}
::-webkit-scrollbar-button:vertical:increment:active {
    background-image: url('../assets/system/down_active.svg');
    border-radius: 5px;
}
/* End hacky bits */

.ChatInput {
	font-family: 'Tahoma', 'Geneva', 'sans-serif';
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	width: calc(100% - 15px);
	background-color: #e9f0f0;
	outline: none;
	cursor: auto;
	padding-left: 5px;
	padding-right: 5px;
}
.ChatInput:focus {
	background-color: #F5F5CF
}
.MessageBody {
	cursor: auto;
	-webkit-user-select: text;
    -khtml-user-select: text; 
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text; 
	font-family: 'Tahoma', 'Geneva', 'sans-serif';
}
.MessageLink {
	cursor: auto;
	-webkit-user-select: text;
    -khtml-user-select: text; 
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text; 
}
.tabs {
  position: relative;
}
.tab {
  float: left;
  cursor: pointer;
}
.tab label {
	background: #eee; 
	padding: 4px; 
	border: 1px solid #ccc; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: -1px;
	position: relative;
	left: 1px;
	top: 5px;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  height: calc(100% - 10px);
  top: 28px;
  left: 0;
  right: 0;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
.Counter
{
    padding: 3px;
	border-radius: .5em;
	font-weight: bold;
    background: #005C73;
    color: #E9F0F0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Popup elements*/
.PopWindow{
  position: fixed; 
  top:50%;
  left:50%;
  margin-top:-194px;
  margin-left:-340px;
  padding: 21px;
  width:590px;
  height:348px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1),  0px 0px 0px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1), 0px 0px 0px 2px rgba(0,0,0,0.3); 
  -o-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1), 0px 0px 0px 2px rgba(0,0,0,0.3); 
  -khtml-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1), 0px 0px 0px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1), 0px 0px 0px 2px rgba(0,0,0,0.3);
}
.PopWindowHeader {
   opacity:0.8;
   font-size:22px;   
}
.PopCloseEmblem {
    cursor: pointer;
    position:absolute;
    top:20px;
    right: 20px;
}
.PopWindowBody {
   font-family: 'RockoFLFBold', sans-serif;
   overflow:auto;
   font-size:12px;
   font-weight: normal;
   position:absolute;
   left:0px;
   top:65px;
   right:0px;
   height:320px;
}

//TODO: Dynamic position
/*Styling for a 'console' type window*/
#MapWindow {
   padding: 2px;
   -moz-border-radius: 7px;
   border-radius:  7px;
   letter-spacing:0.5px;
   overflow-x:hidden;
   font-size:12px;
   color: #ccc;
   font-weight: normal;
   background-color: #FFF;
   position:absolute;
   left:3px;
   top:100px;
   right:300px;
   height:293px;
}
.MapSearchInput {
	padding: 2px;
	height: 14px;
	width: 120px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: monospace;
	letter-spacing: 0.5px;
	overflow: hidden;
	font-size: 12px;
	color: #ccc;
	font-weight: normal;
	top: 3px;
    float: right;
}
#CloseMap {
	float: right;
	top: 3px;
	padding-left:20px;
}

/*Styling for a 'console' type window*/
#CommandConsole {
   padding: 2px;
   font-family: monospace;
   -moz-border-radius: 5px 5px 0px 0px;
   border-radius:  5px 5px 0px 0px;
   letter-spacing:0.5px;
   overflow:auto;
   overflow-x:hidden;
   font-size:12px;
   color: #ccc;
   font-weight: normal;
   background-color: #333;
   position:absolute;
   left:3px;
   top:3px;
   right:3px;
   height:293px;
}
.ConsoleInput {
	padding: 2px;
	height: 14px;
	width: 622px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border: 0;
	font-family: monospace;
	letter-spacing: 0.5px;
	overflow: hidden;
	font-size: 12px;
	color: #ccc;
	font-weight: normal;
	background-color: #555;
	position: absolute;
	left: 3px;
	bottom: 3px;
}
.ConsoleEntry{
  font-family: monospace;
  font-weight: normal;
  letter-spacing:0.3px;
  position:relative;
  left:3px;
}
#CloseConsole {
	float: right;
}

.WebView {
   -moz-border-radius: 5px 5px 0px 0px;
   border-radius:  5px 5px 0px 0px;
   overflow:auto;
   position:absolute;
   width:100%;
   top:3px;
   bottom:3px;
   height:300px;
}
   
   
   
   
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*The right click menu*/
#RightClickMenu {
   overflow:visible;
   background-color: #fff;
   width:120px;
   position:absolute;
   padding: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   font-size:14px;   
   z-index: 5;
   top:  -100%;
   left: -100%;
  -moz-box-shadow:    0px 2px 0px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
  box-shadow:         0px 2px 0px 0px rgba(0,0,0,0.5);  
}
.InfoButton {   
   margin-left: auto;
   margin-right: auto;
   width: 10em;
   font-family: 'RockoFLFBold', sans-serif;
   letter-spacing:0px;
   font-size:12px;
   font-weight: 600;
   position:absolute;
   vertical-align: middle;
   top:  -9px;
   left: 98px;
   padding: 2px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   background-color: #BCDBDC;
   color: #005c73;
   width: 25px;
   height: 10px;
   border: 1px solid #fff;
}
.InfoButton:hover {
  cursor: pointer; color: #d79035;
}
.RCActionList {
   line-height:150%; 
   list-style-type: none;
}
.RCItem {
  font-family: 'RockoFLFBold', sans-serif;
  font-size:15px;
  color: #005c73;
  width: 95%;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fff;
}
.RCItem:hover {
  cursor: pointer;  color: #d79035;
  border: 1px solid #d79035;
}

#CurrentLocation{
  position:absolute;
  right: 250px;
  width:300px;
  top:15px; 
  color:mediumgrey;
  font-size: 14px;
}
#Location{
  color:#005c73;
  font-size: 18px;
}
#MapGlyph {
  float:left;
  padding-right:10px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Elements that appear in the top right*/
#TopRight{
  position:absolute;
  right: 0px;
  width:300px;
  top:25px;  
}
#FullscreenGlyph {display: inline;}
#FullscreenResetGlyph {display: none;}
.glyph{color: #005c73;}
.glyph:hover {cursor: pointer;}
.glyph:active {color: #d79035;}

#CurrDay{
  font-size:13px;
  color: #005c73;
  opacity:0.5;
  position:absolute;
  top:-12px;  
  left:140px;  
}
#CurrTime{
  font-size:15px;
  color: #005c73;
  position:absolute;
  top:1px;  
  left:140px; 
}
#CurrDate{
  color: #005c73;
  opacity:0.5;
  font-size:13px;
  position:absolute;
  top:16px;  
  left:140px; 
}


/*The soundcloud widget that appears when songs play*/
#SoundCloudWidget {
   font-family: 'RockoFLFBold', sans-serif;
   font-size:12px;
   font-weight: normal;
   padding:2px;
   position:absolute;
   right: 40px;
   bottom:20px;
   height:30px;
   width:250px;
   align:right;
}


#AudioSettings > #SliderParent > #VolumeSlider {
    -webkit-appearance: none;
    visibility: hidden;
    position:absolute;
    padding-right: 2px;
    left: 26px;
    top: 55px;
    width:100px;
    height:25px;
    background-color: #e9f0f0;
    z-index:10;
    border-radius: 6px;
    border: 1px solid #fff;
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    outline: none;
}
#VolumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:15px;
    height:15px;
    background-color:#005c73;
    border-radius: 50%;
}
#VolumeSlider:disabled::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:15px;
    height:15px;
    background-color:#979797;
    border-radius: 50%;
}
#VolumeSlider:disabled::-moz-range-thumb{
  width:15px;
  height:15px;
  background:#979797;
  border-radius: 50%;
}
#VolumeSlider:hover ~ #rangevalue, #VolumeSlider:active ~ #rangevalue {
    visibility: visible;
}
/* Tool Tip for Volume*/
 #rangevalue {
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: block;
    margin: 20px 11px;
    position: absolute;
    left: 90px;
    top: 32px;
    z-index: 10;
    padding: 6px 12px;
    border: 1px solid black;
    background: #222931;
    border-radius: 5px;
    width: 18px;
    visibility: hidden;
}
#rangevalue:after, #rangevalue:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#rangevalue:after {
	border-color: rgba(34, 41, 49, 0);
	border-right-color: #222931;
	border-width: 10px;
	margin-top: -10px;
}
#rangevalue:before {
	border-color: rgba(24, 29, 33, 0);
	border-right-color: #181D21;
	border-width: 11px;
	margin-top: -11px;
}
#AudioSettings > #AudioGlyph:hover + #SliderParent > #VolumeSlider,
#AudioSettings > #SliderParent > #VolumeSlider:hover {
	visibility: visible;
}

#InventoryBag{
  background-color: #c6d2d3;
  border: 1px solid #b2bfc0;
  opacity:0;
}
#InventoryBar.opened, #InventoryBag.opened{
  bottom: 119px;
  opacity:1;
}
.InventoryBox {
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #fff;
  width:49px;
  height: 49px;
  padding: 1px;
  margin:1px;
  vertical-align: middle;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.InventoryItem {
  cursor: pointer;
  position:relative;
   left: 50%;
   top: 50%; 
   margin-left: -20px;
   margin-top: -25px;
}
#fps {
	position: absolute;
	top: 60px;
	left: 220px;
	z-index: 1;
	font-size: 1.5em;
	color: greenyellow;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*The copyright footer*/
#Footer{
  font-family: 'RockoFLFBold', sans-serif;
  font-size: 12px;
  position: absolute;
  opacity:0.6;
  left: 2px;
  bottom: 2px;
  z-index:99;
}

.centered-icon {
  vertical-align: middle;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Mobile specific stuff*/
.bubbleRow {
	width: 100%;
	float: left; /*left or right doesn't matter, but this makes the lines fall below the last one*/
}
.bubble {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.you {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.you::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.me {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.me::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

.PlayerChatBubble {
	background: white;
	padding: 2px;
	border-radius: 5px;
	max-width: 250px;
	max-height: 90px;
	position: relative;
	top: -110px;
	left: 110px;
}
.PlayerChatBubble::before {
	background: white;
	content: "\00a0";
	position: absolute;
	bottom: 1px;
	left: -6px;
	z-index: -1;
	transform: rotate( 29deg ) skew( -35deg );
				-moz-transform: rotate( 29deg ) skew( -35deg );
				-ms-transform: rotate( 29deg ) skew( -35deg );
				-o-transform: rotate( 29deg ) skew( -35deg );
				-webkit-transform: rotate( 29deg ) skew( -35deg );
	width: 20px;
}

.ActionBar {
	height: calc(2em + 15px);
	border-bottom: 1px solid;
	text-align: center;
}
.BottomBar {
	position: absolute;
	bottom: 5px;
	width: calc(100% - 5px);
}
.BackButton {
	position: absolute;
	margin: 3px;
	border: 1px solid;
	border-radius: 5px;
	background-color: white;
	color: #005c73;
	font-size: 2em;
}
#SendButton {
	border: 1px solid;
	border-radius: 5px;
	background-color: white;
	color: #005c73;
	display: table-cell;
    margin-right: 10px;
    font-size: 1.5em;
}
#ChatScreen {
	height: 100vh;
	background: white;
}
#ConversationStack {
}
.Conversation {
	position: absolute;
	top: calc(2em + 19px);
	width: 100%;
	bottom: calc(2em + 16px);
	overflow-y: scroll;
	background: white;
}
#InputContainer {
	display: table-cell;
	width: 100%;
	padding-right: 20px;
	padding-left: 5px;
}
#MobileChatInput {
	width: 100%;
	font-size: 1.5em;
}
#ChatChannelTitle {
	padding-top: 4px;
	margin-top: 3px;
	font-size: 2em;
}
.ChannelName {
	font-size: 2em;
}
#ChannelList {
	overflow-y: scroll;
	height: 87vh;
}
#InventoryDrawer {
	text-align: center;
	position: absolute;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -75px;
}
#InventoryTitle {
	font-size: 2em;
	display: inline-block;
	background: white;
	padding: 1px 5px 5px 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#MobileInventory {
	background: white;
	padding: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	white-space: nowrap;
	overflow-x: scroll;
}
#MobileInventoryBag {
	display: none;
	background: white;
	padding: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	white-space: nowrap;
	overflow-x: scroll;
}
#MobileChatSettingsIcon {
	position: absolute;
	top: 5px;
	right: 5px;
}
#MobileChatSettingsMenu {
	text-align: left;
	font-size: 1.5em;
	position: absolute;
	right: 5px;
	top: 40px;
	background-color: #fff;
	border: 1px solid;
	padding: 0px 5px;
}
#MobileChatSettingsMenu input[type=checkbox] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
}

@media (max-device-width: 1280px) and (orientation: landscape) /* mobile device in landscape */
{
	#PlayerPortraitDiv {
		top: 3px;
	}
	#PlayerName {
		left: 150px;
	}
	#EnergyText {
		top: 40px;
	}
	#EnergyIndicator, #EnergyIndicatorRed {
		top: -17px;
	}
	#EnergyEmblem {
		top: 88px;
	}
	#TopLeftCorner {
		top: -27px;
	}
	#GameScreen {
		top: 40px;
		width: calc(100% - 80px);
		height: calc(100% - 100px);
	}
	#CurrantBack {
		left: 10px;
		bottom: 76px;
	}
	#CurrantText {
		left: 50px;
		bottom: 80px;
	}
	#CurrantEmblem {
		left: 16px;
		bottom: 80px;
	}
	#Joystick {
		display: block;
		width: 50px;
		height: 50px;
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		bottom: 5px;
		left: 40px;
	}
	#Knob {
		position: absolute;
		top: 9px;
		left: 9px;
		width: 30px;
		height: 30px;
		border: 1px solid;
		border-radius: 50%;
		background: #fff;
	}
	#ChatDisconnected {
		display: none;
	}
	#Footer {
		display: none;
	}
	.PopWindowBody {
		display: none;
	}
	#TopRight {
		display: none;
	}
	#SizeWarning {
		display: none;
	}
	#SoundCloudWidget {
		display: none;
	}
	#ChatPane {
		display: none;
	}
	#ChatSettingsIcon {
		display: none;
	}
	#InventoryBar, #InventoryBag{
		display: none;
	}
	#ChatBubble {
		position: absolute;
		right: -30px;
		top: 35px;
	}
	#AButton {
		display: block;
		text-align: center;
		line-height: 50px;
		width: 50px;
		height: 50px;
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		right: 20px;
		bottom: 5px;
	}
	#BButton {
		display: block;
		text-align: center;
		line-height: 50px;
		width: 50px;
		height: 50px;
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		right: 100px;
		bottom: 5px;
	}
	#MobileFullscreen {
		position: absolute;
		display: inline;
		top: 10px;
		right: 20px;
	}
	#MobileFullscreenReset {
		position: absolute;
		display: none;
		top: 10px;
		right: 20px;
	}
	#MobileAudioGlyph {
		position: absolute;
		display: inline;
		top:10px;
		right: 50px;
	}
}

@media (orientation: portrait) /* mobile device in portrait */
{
	#PlayerPortraitDiv {
		top: 13px;
		left: 4px;
	}
	#PlayerName {
		left: 150px;
	}
	#EnergyText {
		top: 50px;
		left: 120px;
	}
	#EnergyIndicator, #EnergyIndicatorRed {
		top: -7px;
		left: -18px;
	}
	#EnergyEmblem {
		top: 98px;
		left: 15px;
	}
	#TopLeftCorner {
		top: -17px;
		left: -28px;
	}
	#GameScreen {
		top: 50px;
		width: calc(100% - 45px);
		left: 25px;
	}
	#CurrantBack {
		left: 0px;
		bottom: 151px;
	}
	#CurrantText {
		left: 40px;
		bottom: 155px;
	}
	#CurrantEmblem {
		left: 6px;
		bottom: 155px
	}
	#Joystick {
		display: block;
		width: 100px;
		height: 100px;
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		bottom: 20px;
		left: 15px;
	}
	#Knob {
		position: absolute;
		top: 35px;
		left: 35px;
		width: 30px;
		height: 30px;
		border: 1px solid;
		border-radius: 50%;
		background: #fff;
	}
	#ChatDisconnected {
		display: none;
	}
	#Footer {
		display: none;
	}
	.PopWindowBody {
		display: none;
	}
	#TopRight {
		display: none;
	}
	#SizeWarning {
		display: none;
	}
	#SoundCloudWidget {
		display: none;
	}
	#ChatPane {
		display: none;
	}
	#ChatSettingsIcon {
		display: none;
	}
	#InventoryBar, #InventoryBag{
		display: none;
	}
	#ChatBubble {
		position: absolute;
		right: -40px;
		top: 35px;
	}
	#AButton {
		display: block;
		text-align: center;
		line-height: 60px;
		width: 60px;
		height: 60px;
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		right:5px;
		bottom: 65px;
	}
	#BButton {
		display: block;
		text-align: center;
		line-height: 60px;
		width: 60px;
		height: 60px;
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		right: 70px;
		bottom: 30px;
	}
	#MobileFullscreen {
		position: absolute;
		display: inline;
		top: 10px;
		right: 20px;
	}
	#MobileFullscreenReset {
		position: absolute;
		display: none;
		top: 10px;
		right: 20px;
	}
	#MobileAudioGlyph {
		position: absolute;
		display: inline;
		top:10px;
		right: 50px;
	}
}
#PlayButton {
	font-size: 2em;
	padding: 10px;
	border: 5px solid;
	border-radius: 10px;
	display: none;
}

@media (min-device-width: 1308px) and (min-device-height: 325px) /* desktop device*/
{
	#InventoryDrawer {
		display: none;
	}
	#Joystick {
		display: none;
	}		
	#AButton {
		display: none;
	}
	#BButton {
		display: none;
	}
	#ChatBubble {
		display: none;
	}
	#ChatScreen {
		background: #fff;
		height: 100vh;
	}
	#MobileFullscreen {
		position: absolute; /*hide behind game canvas*/
		top: 150px;
		left: 100px;
		z-index: -1;
	}
	#MobileFullscreenReset {
		position: absolute;
		top: 150px;
		left: 100px;
		z-index: -1;
	}
	#MobileAudioGlyph {
		position: absolute;
		top:150px;
		left: 100px;
		z-index: -1;
	}
	/*The inventory bar at the bottom of the screen*/
	#InventoryBar, #InventoryBag{
		  padding: 2px;
		  position: absolute;
		  background-color: #e9f0f0;
		  height: 61px;
		  width: 73%;
		  bottom: 50px;
		  left:40px;
		  right:300px;
		  overflow:hidden;
		  overflow-y:auto;
		  -moz-border-radius: 4px;
		  border-radius: 4px;
	}
}
