*:not(input){
   font-family: 'RockoFLFBold', sans-serif;
   cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
  color: #4b2e4c;
}
html {
  background-color:#eee;
  overflow:hidden;
}


p, footer, input {
  font-family: 'Tahoma', 'Geneva', 'sans-serif';
  cursor: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  color: #000;
}
 a {
 cursor: auto;
 color: #4b2e4c;
 text-decoration:none;
}
main {
  display:box;
  position:relative;
  margin:auto;
  width:100%;
  max-width:1300px;
  min-width:658px;
  height:calc(100vh - 12pt);
  max-height:750px;
  min-height:380px;
}