#enbolt {
  position:absolute;
  top:95px;
  left:13px;
  z-index:1;
}
#energyDisks {
  position:absolute;
  top:51px;
  left:22px;
  background-color:#ccc;
  border-bottom-right-radius: 83%;
  width:87px;
  height:66px;
  z-index:1;
  overflow:hidden;
}
#energyDisks .green, #energyDisks .red { /* These are script-rotated together */
  position:absolute;
  top:-54px;
  left:-35px;
  width:121px;
  z-index:1;

  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration:1s;
  -webkit-transition-timing-function:ease-in-out;
  -webkit-transition-delay:0s;
  -moz-transition-property: -moz-transform, opacity;
  -moz-transition-duration:1s;
  -moz-transition-timing-function:ease-in-out;
  -moz-transition-delay:0s;    
}
#energyDisks .red {
  opacity:0;
}


#energyText * {
  color:#fff;
  text-shadow: 0px 1px rgba(0,0,0,0.5);
  font-size:13px;
}

#energyText {
  position:absolute;
  top:50px;
  left:120px;
  opacity:0.8;
}
#currEnergy {
  font-size:19px;
}
#maxEnergy {
  font-size:15px;
}