#game {
  position:absolute;
  top:50px;
  left:20px;
  width:calc(100% - 280px);
  max-width:calc(100% - 40px);
  min-width:calc(300px - 40px);
  height:calc(100% - 140px);
  border-radius:10px;
  background-color:#ccc;
  /* this fixes the overflow:hidden in Chrome not clipping it's contents to the border-radius
  more information here: http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera*/
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}



