#imaginationText {
  position:absolute;
  top:calc(24px - 0.5em);
  left:130px;
}
#imaginationText * {
  color:#555;
  text-shadow: 0px 1px rgba(100,100,100,0.3);
}
#imaginationText .smi {
  position:relative;
  font-size:15px;
  top:-3px;
}
#thinkButton {
  position:absolute;
  width:30px;
  left:-45px;
}
#thinkButton:hover {
  opacity:0.5;
}