#inventory {
  position:absolute;
  bottom:10px;
  left:15px;
  padding:5px;
  height:70px;
  width:calc(100% - 290px);
  max-width:calc(100% - 40px);
  min-width:calc(300px - 40px);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align:center;
}

#inventory .box {
  background-color: #fff;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width:45px;
  height:45px;
  margin:3px 0px;
  border-left:1px solid rgba(0,0,0,0.1);
  border-bottom:3px solid rgba(0,0,0,0.2);
  z-index:1;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.05); 
  display: inline-block;  
}
.box .icon {
  position:absolute;
  width:35px;
  height:35px;
  top:calc(50% - 17.5px);
  left:calc(50% - 17.5px);
}



#inventorySearch {
  background-color:#eee;
  width:35px;
  height:35px;
  border-radius:50%;
  position:absolute;
  bottom:70px;
  left:0px;  
  cursor:pointer;
  z-index:0;
}
#inventorySearch * {
  color:#bbb;
  position:absolute;
  top:calc(40% - 0.5em);
  right:calc(40% - 0.5em);
  cursor:pointer;
}
#inventorySearch:hover, #inventorySearch *:hover {
  color:#999;
}