#rightSide {
  font-size:15px;
  position:absolute;
  top:50px;
  right:10px;
  width:240px;
  height:calc(100% - 140px);
  background-color:#eee;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property:transform;
  -webkit-transition-duration:0.3s;
  -webkit-transition-timing-function:ease-in-out; 
  -moz-transition-property:transform;
  -moz-transition-duration:0.3s;
  -moz-transition-timing-function:ease-in-out;
}
.toggleSide {
  position:absolute;
  line-height:73px;
  background-color:#eee;
  padding:2px;
  vertical-align: middle;
  border-radius:5px;
  border-left:2px solid rgba(0,0,0,0.3);
  height:70px;
  width:20px;
  top:calc(50% - 35px);
  left:-21px;
}
#rightSide:hover {
  transform: translateX(-145px);
  -webkit-transform: translateX(-145px);
  -moz-transform: translateX(-145px);
}

h3 {
  margin-left:24px;
  font-size:13px;
  margin-left:5px;
  margin-top:-5px;
  margin-bottom:-15px;
}


#rightSide ul {
  margin-left:24px;
}

#rightSide ul.devList {
  float:bottom;
}

#rightSide ul * {
  font-size:12px;
  line-height:15px;
}
#rightSide ul li:hover {
  background-color:#fff;
  cursor:pointer;
  border-radius:3px;
}

.offline .fa {
  color:#ba381a;
}
.online .fa {
  color:#5cb85c;
}
.busy .fa {
  color:#f0ad4e;
}

#panel {
  font-size:12px;
  position:absolute;
  top:50px;
  right:10px;
  width:243px;
  height:calc(100% - 140px);
  background-color:#fff;
  border-left:2px solid rgba(0,0,0,0.2);
  border-radius:10px;
  overflow:hidden;
}


#panel .dialog {
  position:absolute;
  top:35px;
  left:3px;
  right:3px;
  bottom:3px;
  margin:0;
  font-family: 'Tahoma', 'Geneva', 'sans-serif';
  color:#000;
  font-size:12px;
  padding:5px;
  border:2px solid #eee;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow-y:scroll;
}
#panel header, #panel header.top {
  position:absolute;
  top:7px;
  right:10px;
  left:10px;
  text-align:center;
  font-size:21px;
}
#panel header.top .fa{
  position:absolute;
  top:-2px;
  left:5px;
  font-size:26px;
  width:1em;
}

#panel header.bottom {
  position:absolute;
  top:50%;
  right:10px;
  left:10px;
  text-align:center;
  font-size:21px;
}
#panel header.bottom .fa{
  position:absolute;
  top:-5px;
  left:5px;
  font-size:26px;
  width:1em;
}

#panel .dialog.top {
  bottom:calc(50% + 10px);
}
#panel .dialog.bottom {
  top:calc(50% + 30px);
}














