#currDay{
    font-size:13px;
    opacity:0.5;
    position: absolute;
    width: 100px;
    top:0.3em;
    right:0;
}
#currTime{
    font-size:15px;
    position: absolute;
    width: 100px;
    top:1.05em;
    right:0;
}
#currDate{
    opacity:0.5;
    font-size:13px;
    position: absolute;
    width: 100px;
    top:2.4em;
    right:0;
}