#windowHolder .window{
  position: absolute; 
  top:calc(50% - 250px);
  left:calc(50% - 250px);
  padding: 21px;
  width:450px;
  height:300px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #eee;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1),  0px 0px 0px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1), 0px 0px 0px 2px rgba(0,0,0,0.3); 
  -o-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1), 0px 0px 0px 2px rgba(0,0,0,0.3); 
  -khtml-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1), 0px 0px 0px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1), 0px 0px 0px 2px rgba(0,0,0,0.3);
  z-index:2;
}

#windowHolder .window header {
  position:absolute;
  top:7px;
  left:50px;
  font-size:24px;
}
.window article {
  font-family: 'Tahoma', 'Geneva', 'sans-serif';
  color:#000;
  font-size:12px;
  padding:5px;
  position:absolute;
  top:45px;
  left:10px;
  width:460px;
  height:270px;
  background-color:#fff;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow:auto;
  overflow-x:hidden;
}



.closeButton {
  color:#ba381a;
  position:absolute;
  top:10px;
  left:443px;
  font-size:24px;
}