#JoystickParent {
    width: 115px;
    height: 115px;
    overflow: auto;
}

#Joystick {
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    bottom: 7px;
    left: 20px;
}

#Knob {
    position: absolute;
    top: 19px;
    left: 19px;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    background: #fff;
    will-change: transform;
}

#AButton {
    display: block;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 15px;
}

#BButton {
    display: block;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    right: 70px;
    bottom: 15px;
}