.button {
  font-family: 'Fredoka One', cursive;
  position:relative;
  border-radius:7px;
  padding:5px;
  background-color: #4b2e4c;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom:3px solid rgba(0,0,0,0.3);
  text-align:center;
  cursor: pointer;
  box-shadow:inset 0 -2px 5px 1px rgba(0,0,0,0.1);
  transition:box-shadow 0.1s;
}
.button:hover {
  box-shadow:inset 0 -2px 5px 3px rgba(255,0,200,0.1);
}

.button, .button *{
  color:#fff;
}

.button:active {
  border-bottom:1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 50px 20px rgba(255,255,255,0.1);
  transform:translateY(2px);
}


.button.warn {
  background-color: #ba381a;
}

.button.success {
  background-color: #57AA4B;
}


.button.light {
  background-color: #fff;
}
.button.light, .button.light * {
    color:#4b2e4c;
}

/* Mobile Controls */

#mobileControls {
  height: 40px;
  position: absolute;
  top: calc(100vh - 50px);
  padding-left: 10px;
}
#mobileControls > * {
  display: inline-block;
  vertical-align: top;
}
#mobileControls #controlButtons {
  margin-right: 10px;
}
#mobileControls #controlButtons * {
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom: 3px solid rgba(0,0,0,0.3);
  box-shadow: inset 0 -2px 5px 1px rgba(0,0,0,0.1);
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 50%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  display: inline-block;
  margin-right: 5px;
}
#mobileControls #controlButtons *:active {
  border-bottom:1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 50px 20px rgba(255,255,255,0.1);
  transform:translateY(2px);
  outline: none;
}

#mobileControls #JoystickParent {
	width: 86px;
	height: 86px;
	overflow: auto;
}

#mobileControls #JoystickParent #Joystick {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	position: absolute;
	border: 1px solid rgba(0,0,0,0.3);
}

#Knob {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 20px;
	height: 20px;
	border: 1px solid;
	border-radius: 50%;
	background-color: #4b2e4c;
}