main {
	width: 100%;
	max-width: 1300px;
	height: 100%;
	max-height: 750px;
	position: absolute;
	left: initial;
	right: initial;
	top: initial;
	bottom: initial;
}

@media (min-width: 1500px) {
	main {
		margin: 0;
	}
}