*:not(input){
	font-family: 'RockoFLFBold', sans-serif;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	user-drag: none;
	color: #4b2e4c;
}
html, body {
	background-color:#eee;
	overflow:hidden;
	height:100%;
	margin:0;
	padding:0;
}


p, input, textarea{
	font-family: 'Tahoma', 'Geneva', 'sans-serif';
	cursor: auto;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	color: #000;
	resize: none;
	margin:0;
}
a {
	cursor: auto;
	color: #4b2e4c;
	text-decoration:none;
}

main {
	width:100%;
	max-width:1300px;
	height:100%;
	max-height:750px;
	position:absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;
	overflow: hidden;
}

@media (min-width: 1500px) {
	main {
		margin: 0; 
	}
}