#currantBack {
  position:absolute;
  bottom:50px;
  left:-3px;
  width:35px;
  height:34px;
  border-radius:50%;
  background-color:#eee;
}
#currantEmblem {
  width:27px;
  position:absolute;
  bottom:4px;
  left:6px;
}
#currCurrants {
  color:#fff;
  position:absolute;
  font-size:19px;
  top:0.1em;
}
#currantLabel {
  color:#fff;
  position:absolute;
  font-size:13px;
  top:1.5em;
}

#currantText {
  position:absolute;
  left:calc(100% + 3px);
  text-shadow: 0px 0.05em rgba(0,0,0,0.5);
  top:-3px;
  opacity:0.5;
  width:100%;
  height:60px;
}
#currantText:hover {
  opacity:1;
}