#game {
	position:absolute;
	top:50px;
	left:20px;
	width:72%;
	max-width:calc(100% - 40px);
	min-width:calc(300px - 40px);
	height:calc(100% - 70px);
	border-radius:10px;
  /* this fixes the overflow:hidden in Chrome not clipping it's contents to the border-radius
  more information here: http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera*/
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  overflow:hidden;
  z-index:0;
}
#street-canvas {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
#world {
	position: absolute;
	top: 0;
}

@media (min-width: 1500) {
	#game {
		width: calc(78vw);
	}
}