#loading {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#eee;
	z-index:100;
	font-size:20px;

	opacity:1;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function:ease-in-out; 
	-moz-transition-property:opacity;
	-moz-transition-duration:0.3s;
	-moz-transition-timing-function:ease-in-out;

	background: -webkit-radial-gradient(#fff, #ddd); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#fff, #ddd); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#fff, #ddd); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#fff, #ddd); /* Standard syntax */



}
#loading img {
	width:120px;
}
#loading .splash {
	text-align:center;
	position:absolute;
	left:calc(50% - 94px);
	width:200px;
	top: 10%;
}
#playButton {
	font-size:23px;
	padding:12px;
	margin-top:30px;
	height:30px;
	width:95px;
}

#mobileButton {
	font-size:40px;
	padding:12px;
	padding-top:3px;
	padding-bottom:20px;
	margin-top:-61px;
	height:30px;
	left:130px;
	width:30px;
}

#loading #loadstatus {
	font-size:14px;
	position:absolute;
	bottom:25px;
	left:8px;  
}
#loading #loadstatus2 {
	font-size:12px;
	position:absolute;
	bottom:13px;
	left:8px;  
	opacity:0.7;
}


#streetLoading {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#75992D;
	z-index:5;
}
#streetLoading h2 {
	text-align:center;
	color:#fff;
	top:50px;
}
#streetLoading h2 span {
	color:#fff;
	font-size:2em;
}


#streetLoading .bar {
	position:absolute;
	left:20px;
	right:20px;
	bottom:30px;
	height:1em;
	border-radius:0.4em;
	background-color:rgba(0,0,0,0.3);
	overflow:hidden;
}
#streetLoading .bar .percent {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:0%;
	background-color:#5cb85c;
	border-radius:0.4em;
	border-bottom:5px solid rgba(0,0,0,0.2);
}

@media (min-height: 1000px) {
	#loading.splash {
		top: 30%;
	}
}