#SCwidget {
  position:absolute;
  width:calc(10vw - 8px);
  min-width: calc(140px - 5px);
  height:42px;
  bottom:17px;
  right:10px;
  font-size:12px;
  line-height:15px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  border-left:1px solid rgba(0,0,0,0.1);
  border-bottom:2px solid rgba(0,0,0,0.3);
  padding:4px;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.1); 
}
#SCwidget * {
  color:#777;
}
#SCwidget .fa {
}