#avatarWindow .preload,
#avatarWindow .postload {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#avatarWindow .preload .loader {
	top: calc(50% - 120px);
}

.loader,
.loader::after {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border: 1.1em solid rgba(75, 46, 76, 0.2);
	border-left-color: #4b2e4c;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#avatarWindow #avatarSelector {
	width: 100%;
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: white;
	border-radius: 5px;
	padding: 10px 0 20px 0;
	white-space: nowrap;
}

.darkui #avatarWindow #avatarSelector {
	background-color: black;
}

#avatarWindow  .avatar-option {
	height: 100%;
	width: 100px;
	display: inline-block;
	text-align: center;
}

#avatarWindow .avatar-option:first-child {
	border-right: 1px solid grey;
}

#avatarWindow .avatar-option span {
	padding-top: 10px;
	display: block;
}

#avatarWindow .avatar-option:hover,
#avatarWindow .avatar-option:hover * {
	opacity: 0.8;
	cursor: pointer;
}

#avatarWindow .avatar-option.selected span {
	color: #236EC4;
}

#chgAvatarBtn {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
}

#chgAvatarStatus {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
