#calendarWindow * {
    font-family: "Lato", sans-serif;
}

/* Current Time Display */

#calendarWindow #calendar-time {
    color: #8f7590;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}

#calendarWindow #calendar-time > span {
    color: #4b2e4c;
}

/* Calendar Display */

#calendarWindow #calendar-view {
    margin-top: 10px;
    width: 100%;
    height: 275px;
    overflow-y: scroll;
}

#calendarWindow .month {
    display: flex;
    flex-direction: column;
}

#calendarWindow .month-name {
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

#calendarWindow .week {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#calendarWindow .day:empty {
    border: 1px solid rgba(0, 0, 0, 0);
}

#calendarWindow .day {
    flex: 1;
    padding: 5px;
    margin: 3px;
    border: 1px solid #8f7590;
    min-height: 50px;
}

#calendarWindow .day.today {
    background: rgba(75, 46, 76, 0.2);
    border: 1px solid #4b2e4c;
}

#calendarWindow .day div {
    border: 1px solid #8f7590;
    position: relative;
    top: -6px;
    left: -6px;
    display: inline-block;
    padding: 2px;
    width: 18px;
    text-align: center;
}

#calendarWindow .day:empty div {
    display: none;
    width: 0;
    height: 0;
}

#calendarWindow #cal-nothing {
    padding-top: 15px;
    font-size: 40px;
    text-align: center;
}

#calendarWindow #cal-nothing p {
    color: inherit;
    font-size: inherit;
}

#calendarWindow p.italic {
    font-style: italic;
}

#calendarWindow #cal-nothing img {
    width: 125px;
    height: 125px;
    margin-top: 15px;
}
