.notewindow article * {
    font-family: "Lato", sans-serif;
}

/* Read Mode */

.notewindow-read-title {
    height: 20px;
    margin-top: 0;
}

.notewindow-read-editbtn {
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.notewindow-read-body {
    padding: 10px;
    background-image: url(../../../system/windows/note-grid.png);
    overflow: auto;
    height: 200px;
    font-size: 16px;
    line-height: 24px;
}

.notewindow-read-footer {
    padding-top: 5px;
    padding-left: 2px;
}

.notewindow-read-footer a {
    cursor: pointer;
}

.notewindow hr {
    border: none;
    border-top: 1px solid #4b2e4c;
}

/* Write Mode */

.notewindow-write-title {
    width: calc(100% - 25px);
    height: 30px;
    padding: 0 10px;
    font-weight: bold;
}

.notewindow-write-title:focus {
    background-color: #eee;
}

.notewindow-write-body {
    padding: 10px;
    background-image: url(../../../system/windows/note-grid.png);
    overflow: auto;
    height: 205px;
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0;
    width: calc(100% - 25px);
    resize: none;
    cursor: text;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.notewindow-write *:focus {
    outline: none;
}

.darkui .notewindow-read-body,
.darkui .notewindow-write-body {
    background-image: none;
}