#questLogButton {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 64px;
    height: 64px;
    background-image: url(../../../system/icons/quest_log.png);
}

#questLogButton:hover {
    -webkit-filter: drop-shadow(0 1px 2px cyan);
    -o-filter: drop-shadow(0 1px 2px cyan);
    filter: drop-shadow(0 1px 2px cyan);
}

#questLogButton:active {
    -webkit-filter: drop-shadow(0 1px 2px cyan);
    -o-filter: drop-shadow(0 1px 2px cyan);
    filter: drop-shadow(0 1px 2px cyan);
}

#questLogWindow article {
    display: flex;
    font-size: medium;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

#listOfQuests {
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
    list-style-type: none;
}

#listOfQuests .activeQuest {
    border-bottom: 1px solid #747474;
    padding: 5px;
}

#listOfQuests .activeQuest.selected {
    background-color: #ccc;
}

#listOfQuests .activeQuest:last-of-type {
    border-bottom: none;
}

#questDetails {
    display: inline-block;
    border-left: 2px solid #cccccc;
    padding-left: 10px;
    flex-basis: 60%;
}

#questDetails .questDescription {
    margin-bottom: 10px;
}

#questDetails .requirementCompletion {
    margin-right: 10px;
}

#questDetails .requirementCompletion::before {
    content: '-';
    margin-right: 10px;
}

#questDetails .requirementCompletion.completed::before {
    content: '&#10003;';
    margin-right: 10px;
}

#questDetails .requirementDescription {

}