.bagify-menu-container {
    position: absolute;
    bottom: 150px;
    left: calc(50% - 140px); /* accounts for chat pane and game screen positioning */
    transform: translateX(-50%);
    text-align: center;
}

.bagify-menu-container p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 10px #444;
    margin-bottom: 10px;
}

.bagify-menu-list {
    width: 500px;
    min-height: 50px;
    max-height: 100px;
    text-align: center;
}

.bagify-menu-item {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 50%;
    background-color: #eee;
    cursor: help;
    box-shadow: 0 0 10px #444;
    margin: 0 5px 5px 5px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
}

.bagify-menu-item:hover {
    border: 1px solid orange;
    background-color: #F8F2E1;
}

.bagify-cancel-btn {
    display: inline-block;
    color: #ba381a;
    border-radius: 8px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.bagify-cancel-btn:hover {
    opacity: 0.5;
}