#login {
	padding: 30px;
	width: 300px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#login .greeting {
	text-align: center;
	font-size: 14pt;
	width: 100%;
	color: #4b2e4c;
	font-family: 'Fredoka One', cursive;
}

#login .logo {
	width: 100px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#login_loggingin,
#login_top {
	display: flex;
	flex-direction: column;
}

#login.waiting input {
	opacity: .4;
	pointer-events: none;
}

#login input {
	margin-bottom: 5px;
	display: block;
	width: 100%;
	font-size: 15px;
	background-color: #eee;
	height: 25px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
}

#login_services {
	display: flex;
	flex-direction: row;
}

#login_submit {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#login_submit button {
	flex: 1;
	text-align: center;
}

#login_submit button:first-child {
	margin-right: 10px;
}

#login_services {
	display: flex;
	flex: 1;
	padding-top: 10px;
	border-top: 1px solid #ccc;
	margin-top: 10px;
	flex-direction: row;
	justify-content: space-between;
}

#login_services > button {
	flex: 1;
}

#login_services button,
#login_services button i {
	color: #fff;
}

#login_services > button:not(:last-child) {
	margin-right: 10px;
}

#login_facebook {
	background: #3B5999;
}

#login_google {
	background: #d34836;
}

#login_github {
	background: #333;
}

#login_new_user input {
	margin-left: auto;
	margin-right: auto;
}

#login_new_user,
#login_password_reset {
	text-align: center;
}

#login_new_user_btn {
	margin-top: 20px;
}

#login_trigger_forgot_pw,
#login_pw_back {
	text-align: center;
	margin: 10px 0 0;
	text-decoration: underline;
	color: #666;
	font-size: 12px;
	cursor: pointer;
}

#login_warning,
#login_password_reset_warning,
#login_waiting_email {
	margin: -0.5em 0 0;
	padding-bottom: 0.5em;
	vertical-align: middle;
	text-align: center;
	color: #a60000;
	font-size: 0.8em;
}

#login_waiting_email,
#login .blue {
	color: #0061A6;
}

#login_avatar_preview {
	display: flex;
	flex-direction: row;
}

#login_avatar_preview > * {
	flex: 1;
}

#login_avatar_preview_left {
	height: 160px;
	background: no-repeat top;
	background-size: cover;
	position: relative;
	left: -40px;
	top: 30px;
	cursor: pointer;
}

#login_avatar_preview_left > img {
	margin-left: 10px;
}

#login_avatar_preview_container {
	overflow: hidden;
	height: 150px;
}

#login_avatar_preview_img {
	background-repeat: no-repeat;
	width: 80px;
	height: 119px;
}

#login .center {
	text-align: center;
}

#login .small {
	font-size: small;
}