nav {
    position: absolute;
    font-size: 1em;
    top: 12px;
    right: 0;
    display: flex;
    flex-direction: row;
    width: 100px;
}

nav a {
    flex: 1;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}

nav a:hover {
    background-color: rgba(75, 46, 76, 0.08);
}

nav a:active,
#time:active {
    background-color: rgba(75, 46, 76, 0.2);
}

nav .fa {
    font-size: 20px;
    cursor: pointer;
}

nav a.always {
    z-index: 100;
}