#toastPanel {
    z-index: 4;
}

.toast {
  opacity:0;
  background:#000;
  text-align:center;
  color:#fff;
  border-radius:10px;
  font-size:12px;
  padding:3px;
  margin:2px;
  width: 162px;
  transition:all 500ms;
    font-family: "Lato", sans-serif;
}

.toast:hover {
  opacity: 1 !important;
}

.toast:not(.buff):last-child {
  margin-bottom: 15px;
}

#toastDivider {
  border: 1px solid rgba(255,255,255,0.3);
  position: relative;
  left: 5px;
  display: none;
}

.buff {
  height: 40px;
}

.buff img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  left: -65px;
  bottom: -5px;
}

.buff span {
  display: block;
  position: relative;
  text-align: left;
}

.buff span.title {
  font-size: 16px;
  text-align: left;
  padding-left: 45px;
  top: -30px;
}

.buff span.desc {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  top: -30px;
  padding-left: 45px;
}

.buff .buff-progress {
  height: 40px;
  background-color: #93cc93;
  border-radius: 8px;
  position: absolute;
  right: 3px;
}