#youWon{
    font-size:1.5em;
    text-align: center;
    overflow:hidden;
    top:0;
    left:0;
    background-color: #000;
    color:#fff;
    position:absolute;
    width:100%;
    height:100%;
    z-index: 200;
    opacity:0.6;
}

#server-down {
    font-size:1.5em;
    text-align: center;
    overflow:hidden;
    top:0;
    left:0;
    background-color: #000;
    color:#fff;
    position:absolute;
    width:100%;
    height:100%;
    z-index: 200;
    opacity:0.9;
}